
services:

  postgres:
    container_name: helical-postgres
    image: postgres:16.4-bullseye
    shm_size: 1g
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=helical_user
      - POSTGRES_PASSWORD=helical_password
      - POSTGRES_DB=helical
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - ./data/postgres/data/:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready", "-d", "data"]
      interval: 10s
      timeout: 8s
      retries: 5

volumes:
  postgres-data:
    driver: local

