# checks docs here: https://airflow.apache.org/docs/helm-chart/stable/production-guide.html#extending-and-customizing-airflow-image
images:
  airflow:
    # this has the kube operator and otel installed
    repository: "public.ecr.aws/d8n7f1a1/helical_pdqueiros_airflow"
    tag: latest
    pullPolicy: Always

createUserJob:
  useHelmHooks: false
  applyCustomEnv: false
migrateDatabaseJob:
  useHelmHooks: false
  applyCustomEnv: false

postgresql:
  enabled: true
  image:
    repository: bitnamilegacy/postgresql
    tag: 16.1.0-debian-11-r15
  persistence:
    storageClass: standard

webserver:
  service:
    type: LoadBalancer


dags:
  gitSync:
    enabled: true
    # 3. Specify the repository and branch
    repo: "https://github.com/PedroMTQ/helical_pdqueiros.git"
    branch: "main"
    wait: 30 # Sync every 30 seconds
    subPath: "dags" # e.g., if your DAG files are inside a 'dags' directory in the repo
  # persistence:
  #   enabled: true
  #   # This must match the name of the PVC created in airflow.tf
  #   existingClaim: "local-dags-pvc"
  #   size: 1Gi


config:
  metrics:
    otel_on: True
    otel_host: otel-collector-metrics
    otel_port: 4318
    otel_ssl_active: false


env:
- name: KUBERNETES_NAMESPACE
  value: "helical-pdqueiros"
- name: IMAGE_NAME
# needs to match with what was pushed to ECR
  value: "public.ecr.aws/d8n7f1a1/helical_pdqueiros:latest"