apiVersion: ray.io/v1
kind: RayCluster
metadata:
  name: helical-raycluster
  namespace: helical-pdqueiros
spec:
  # minimum specs to limit it to cluster management
  headGroupSpec:
    rayStartParams:
      num-cpus: "0"
    serviceType: NodePort

    template:
      spec:
        containers:
        - name: ray-head
          image: helical-pdqueiros-ray-cpu
          tag: latest
          # it just uses the local one that we built
          imagePullPolicy: Never
          resources:
            requests:
              cpu: "1"
              memory: "4Gi"
            limits:
              cpu: "2"
              # we could play around with this, but let's set it to 2gb for stability sake
              memory: "8Gi"

  # note that I've set the worker specs to my local machine but this ought to change in a cloud env
  workerGroupSpecs:
  - groupName: cpu-worker-group
    # im using 1 replica as a starting point for testing purposes
    replicas: 1
    minReplicas: 1
    maxReplicas: 10
    template:
      spec:
        containers:
        - name: ray-worker
          image: helical-pdqueiros-ray-cpu
          tag: latest
          imagePullPolicy: Never
          resources:
          # I set this to a quite small number since I'm running it locally with 23 cores and 32GB RAM
            requests:
              cpu: "1"
              memory: "2Gi"
            limits:
              cpu: "23"
              memory: "32Gi"

  - groupName: gpu-worker-group
    replicas: 0
    minReplicas: 0
    maxReplicas: 1
    template:
      spec:
        containers:
        - name: ray-worker
          image: helical-pdqueiros-ray-gpu
          tag: latest
          imagePullPolicy: Never
          resources:
            requests:
              cpu: "16"
              memory: "16Gi"
              nvidia.com/gpu: "1"
            limits:
              cpu: "20"
              memory: "16Gi"
              nvidia.com/gpu: "1"

        nodeSelector:
          gpu: "true"

